*{
    font-family: 'Fira Code', monospace;
    
  
  }
  body {   /* Aumentar o tamanho da tela para aparecer a barra de rolagem */
    background: #a68ce0;
      box-shadow: inset 0 0 20vmin 0 #e7f158;
      width: 100%;
        height: 1000px; 
  }
  .navbar{
    background: #e7f158;
    box-shadow: inset 0 0 5vmin 0 #a68ce0;
  }
  

  
